:root{
    --blackText: #1c1c1c;
    --whiteText: #eeeeee;
    --white: #ffffff;
    --black: #191919;
}
*{
    color: var(--fontColor);
    font-family: helvetica;
}
body{
    background: var(--bg);
    transition: transform 0.3s ease;
    transform-origin:0 0;
}
.vlibrasbarra {
    background-color: red;
}
.barra{
    top: 0%;
    right: 5%;
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: #D9D9D9;
    width: 25%;
    border-radius: 15px;
    margin-top: 4rem;
    height: 6rem;
    align-items: center;
    justify-content: center;
    transform: scale(1); /* Inicialmente, o tamanho normal */
    transform-origin: 0 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoFatec{
    position:absolute;
    top: -36%;
    left: 0%;
    background-color: #C2C9CD;
    border-radius: 15px;
    height: 3.5rem;
    width: 6rem;
    z-index: 10000;
    display:flex;
    justify-content: center;
    align-items: center;
}
.logoFatec img{
    height: 2rem;
}
nav .btacessibilidade{
    display: flex;
    position: absolute;
    height: 6rem; ;
    justify-content: center;
    align-items:center;
    gap: 1.35rem;
    padding-top: 1.3rem;
}
button{
    padding: 0;
    border: none;
    background: none;
    outline: none;
    cursor: pointer; 
    height: 4rem;
    width: 4rem;
    transition: all 0.5s;
}
button img{
   width:3.3rem
}
button .escuro{
    transition: all 0.5s;
}
button:hover{
    filter: brightness(150%) saturate(100%);
}
button .escuro:hover{
    filter: invert(0.20);
}

button:focus{
    background-color:#9F9F9F;
    border-radius: 15px;
}
.dark-theme{
    --bg: var(--black);
    --fontColor: var(--whiteText);
}
.light-theme{
    --bg: var(--white);
    --fontColor: var(--blackText);
}